@model IEnumerable<bugzilla.Models.Developer>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bugzilla</h1>

    <form asp-action="Secret">
        <select id="devId" name="devId">
            @foreach (var dev in Model)
            {
                <option value="@dev.Id">@dev.Name</option>
            }
        </select>
        
        <button type="submit" value="Submit">Go</button>
    </form>
</div>